{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">{{ title }}</h2>
    <div class="row">
        {% for coach in coaches %}  
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="{{ coach.profile_image.url }}" class="card-img-top rounded-top" alt="Тренер {{ coach.name }}" style="max-height: 400px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ coach.surname }} {{ coach.name }} {{ coach.patronymic }}</h5>
                    <p class="card-text flex-grow-1">
                        {% if coach.directions.all %}
                        <strong>Направление(я):</strong> <br>
                          {% for direction in coach.directions.all %}
                          <span class="badge bg-danger mt-2" style="white-space: normal;">
                            {{ direction.name }}
                          </span>
                        {% endfor %}
                        {% elif not coach.directions.all %}
                        <strong>Административный персонал</strong> <br>
                            {% for personal in coach.admin_personal.all %}
                                <span class="badge bg-primary mt-2" style="white-space: normal;">
                            {{ personal.name }}
                            </span>
                      {% endfor %}
                    </p>
                   
                    {% endif %}
                    <hr class="my-3">
                    <p class="card-text mb-4">
                        <strong>Телефон для связи:</strong> 
                        <a href="tel:{{ coach.phone }}" class="text-primary">{{ coach.phone }}</a>
                    </p>
                    <div class="d-flex mb-3">
                        {% if coach.telegram %}
                          <a href="{{ coach.telegram }}" target="_blank" class="me-2">
                              <img src="{% static 'mainapp/images/telegram.png' %}" alt="Telegram" class="img-fluid icon_social">
                          </a>
                        {% endif %}
                        {% if coach.vk %}
                          <a href="{{ coach.vk }}" target="_blank">
                              <img src="{% static 'mainapp/images/vk.png' %}" alt="ВКонтакте" class="img-fluid icon_social">
                          </a>
                        {% endif %}
                    </div>
                    <!-- <a href="#" class="btn btn-primary btn-block mt-auto">
                        <i class="fas fa-info-circle me-2"></i> Подробнее
                    </a> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
