{% extends 'base.html' %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">

<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/addons/cleave-phone.ru.js"></script>
{% endblock %}


{% block content %}
<div class="text-center mt-5">
    {% if not request.user.profile.profile_image and not user.is_superuser  %}
        {% if page == 'parent_questionnaire' %}
            <h1>Анкета родителя</h1>
        {% else %}
            <h1>Анкета спортсмена</h1>
        {% endif %}
        <p>Пожалуйста, заполните анкету. Это буквально 2-3 минуты &#128526;</p>
    {% else %}
        <h1>Редактирование профиля</h1>
    {% endif %}
</div>


<div class="d-flex justify-content-center p-3">
    <form class="wrapper--form-auth" method="post" style="width: 700px;" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>

                    {% if page == "edit_admin_profile" and field.name == "profile_image" and profile.profile_image.url %}
                        <div class="form-group mb-3 ">
                            <img src="{{ profile.profile_image.url }}" class="card-img-top customSizeProfile" alt="Изображение профиля">
                            <input type="file" class="form-control mt-2" name="profile_image">
                        </div>
                    {% elif page == "questionnaire" and field.name == "profile_image" and profile.profile_image.url %}
                        <div class="form-group mb-3 ">
                            <img src="{{ profile.profile_image.url }}" class="card-img-top customSizeProfile" alt="Изображение профиля">
                            <input type="file" class="form-control mt-2" name="profile_image">
                        </div>
                    {% elif page == "parent_questionnaire" and field.name == "profile_image" and profile.profile_image.url %}
                        <div class="form-group mb-3 ">
                            <img src="{{ user.profileparent.profile_image.url }}" class="card-img-top customSizeProfile" alt="Изображение профиля">
                            <input type="file" class="form-control mt-2" name="profile_image">
                        </div>
                    {% elif field.name == "participation_competition" %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="{{ field.id_for_label }}_yes" name="{{ field.name }}" value="yes" {% if field.value == "yes" %}checked{% endif %}>
                            <label class="form-check-label" for="{{ field.id_for_label }}_yes">Да</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="{{ field.id_for_label }}_no" name="{{ field.name }}" value="no" {% if field.value == "no" %}checked{% endif %}>
                            <label class="form-check-label" for="{{ field.id_for_label }}_no">Нет</label>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
        <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Сохранить">
    </form>
</div>

<script src="{% static 'mainapp/js/phone_mask.js' %}"></script>
{% endblock %}