{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">{{ title }}</h2>

    <div class="row">
        <div class="col-md-3 mb-4">
            <h3>Выберите направление:</h3>
            <div class="list-group">
                {% for direction in directions %}
                    <a href="?direction={{ direction.pk }}" class="list-group-item list-group-item-action{% if selected_direction and selected_direction.pk == direction.pk %} bg-danger text-white {% endif %}">
                        {{ direction.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            {% if selected_direction %}
                <h3 class="my-4 mt-5 text-center">Профили направления: {{ selected_direction.name }}</h3>
                
                {% if attendance_locked %}
                    <p class="alert alert-info text-center">Отметка для этого направления уже была сделана сегодня и будет доступна на следующем занятии.</p>
                {% elif not attendance_locked %}
                <form method="post">
                    {% csrf_token %}
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Профиль</th>
                                <th>ФИО</th>
                                <th>Присутствие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profiles %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ profile.profile_image.url }}" alt="Профиль {{ profile.name }}" class="rounded-circle me-3" style="width: 40px; height: 40px;">
                                       
                                    </div>
                                </td>
                                <td>
                                    <span>{{ profile.user.get_full_name }}</span>
                                </td>
                                <td>
                                    <input type="checkbox" name="attendance_{{ profile.id }}" class="form-check-input customAttendanceCheckbox" {% if profile.id in present_profiles %} checked {% endif %}>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-end">
                        <input type="submit" class="btn btn-danger" value="Сохранить">
                    </div>
                </form>
            {% endif %}
        {% else %}
        <h3 class="my-4 mt-5 text-center">Пожалуйста, выберите направление.</h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
