{% extends 'base.html' %}

{% load static %}


{% block content %}
<main>
  <div>
    <div class="container-fluid mt-5">
      <div class="row justify-content-center customRowMedia">
        <div class="col-lg-8">
          <div class="calendar customCalendarMedia">
            <div class="calendar-header bg-danger" >
              <button class="btn btn-outline-secondary bg-dark previousMonth" >&lt;</button>
              <h2 id="month-year"></h2>
              <button class="btn btn-outline-secondary bg-dark nextMonth">&gt;</button>
            </div>
            <table class="table table-bordered calendar-table" id="calendar-body">
              <thead class="thead-light">
                <tr id="weekdays" class="weekdays_element" style="position: sticky; top: 0; z-index: 1;"></tr>
              </thead>
              <tbody id="calendar-dates" class="number_day"></tbody>
            </table>
            {% if user.is_superuser %}
            <div class="container-fluid text-right mb-3">
              <a href="{% url 'admin:app_schedules_event_changelist' %}" target="_blank">
                <button class="btn btn-secondary">Добавить занятия в календарь</button>
              </a>
            </div>
            {% endif %}
            <div id="events-container" class="event-list">
              <!-- <h3>Занятия на<span id="event-date"></span>:</h3> -->
              <ul id="events-list" class="list-group"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div>
        <h2 id="modal-name" class="text-center mb-5"></h2>
        <p><b id="modal-teacher"></b></p>
        <p><b id="modal-title"></b></p>
        <p><b id="modal-start_time"></b></p>
        <p><b id="modal-end_time"></b></p>

        <p><b id="modal-profile_user"></b></p>
      </div>
      {% if user.is_superuser %}
      <div class="container-fluid text-center mb-3" style="display: none;">
        <button class="btn btn-outline btn-danger" id="cancelWorkout">Отменить тренировку</button>
      </div>
      <div id="containerCancelWorkout">
        <div class="modal-body">
          Здесь ваше описание или контент модального окна
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="justify-content-center spinner spinner-container">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
  </div>
</main>
<script type="module" src="{% static 'mainapp/js/calendar.js' %}"></script>
{% endblock %}