{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Тренеры нашего клуба</h2>
    <div class="row">
      {% for coach in coaches %}  
      <div class="col-md-4">
        <div class="card">
          <img src="{{ coach.img_coach.url }}" class="card-img-top" alt="Trainer 1">
          <div class="card-body">
            <h5 class="card-title">{{ coach.surname }} {{ coach.name }} {{ coach.patronymic }}</h5>
            <p class="card-text">Квалификация: {{ coach.directions }}</p>
            <p class="card-text">Телефон для связи: {{ coach.phone }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
  
{% endblock %}