{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<main>
    <h1 class="text-center mt-5">Новостная лента клуба</h1>

    <div class="container mt-5">
        {% if user.is_superuser %}
        <a href="{% url 'admin:news_news_changelist' %}" title="Добавить новость" target="_blank">
            <button class="btn btn-danger mb-2"><i class="bi bi-plus-circle"></i></button>
        </a>
        {% endif %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
            {% for new in news %}
                <div class="news-feed mb-5">
                    <div class="card">
                        <p class="m-3">{{ new.created }}</p>
                        <div class="card-body">
                            <img src="{{ new.image_news.url }}" class="card-img-top" alt="Placeholder Image">
                            <h5 class="card-title pt-2">{{ new.title }}</h5>
                            <p class="card-text">{{ new.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</main>
{% endblock %}