{% extends 'mainapp/base.html' %}

{% load static %}

{% block extracss %}<link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center custom_size_section">
    <div>
        <div class="text-center">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Логотип" class="logo-images">
        </div>
        <div class="text-center mt-4">
            <h3>{% if page == 'login' %} Войти {% else %} Регистрация {% endif %}</h3>
        </div>
    </div>
    
    <section>
        <!-- FORM LOGIN -->
        {% if page == 'login' %}

            <form action="{% url 'login' %}" class="wrapper--form-auth" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Адрес электронной почты</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Войти">

            </form>
        
        <!-- FORM REGISTER  -->
        {% else %}
            <form class="wrapper--form-auth" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}

                <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Продолжить">
            </form>

        {% endif %}
        <div class="mt-3">
            <p> {% if page == 'login' %} Нет аккаунта ? {% else %} Уже есть аккаунт ? {% endif %}
                <a href="
                {% if page == 'login' %}
                    {% url 'register' %}
                {% else %}
                    {% url 'login' %}
                {% endif %}">

            {% if page == 'login' %} Зарегистрироваться {% else %} Войти {% endif %}</a></p>
        </div>
    </section>
</div>


{% endblock %}