{% extends 'mainapp/base.html' %}

{% load static %}

{% block extracss %}<link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center custom_size_section">
    <div>
        <div class="text-center">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Логотип" class="logo-images">
        </div>
        <div class="text-center mt-4">
            <h3>{% if page == 'login' %} Войти {% else %} Регистрация {% endif %}</h3>
        </div>
    </div>
    
    <section>
        <!-- FORM LOGIN -->
        {% if page == 'login' %}

            <form class="wrapper--form-auth" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
                </div>
                    <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Войти">
            </form>
        
        <!-- FORM REGISTER  -->
        {% else %}

            <form class="wrapper--form-auth" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputLogin" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите имя">
                </div>
                <div class="mb-3">
                    <label for="exampleInputLogin" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите фамилию">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Подтвердите пароль">
                </div>
                <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Зарегистрировать">
            </form>


        {% endif %}
        <div class="mt-3">
            <p> {% if page == 'login' %} Нет аккаунта ? {% else %} Уже есть аккаунт ? {% endif %}
                <a href="
                {% if page == 'login' %}
                    {% url 'register' %}
                {% else %}
                    {% url 'login' %}
                {% endif %}">

            {% if page == 'login' %} Зарегистрироваться {% else %} Войти {% endif %}</a></p>
        </div>
    </section>
</div>


{% endblock %}