{% extends 'base.html' %}

{% load static %}

{% block extracss %}<link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">{% endblock %}

{% block content %}
    {% include 'includes/logo.html' %}

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Согласие на обработку персональных данных</h3>
            <p>Я даю свое согласие на обработку в моих персональных данных/персональных данных, относящихся исключительно к перечисленным ниже категориям персональных данных:</p>
            <ul>
                <li>фамилия, имя, отчество;</li>
                <li>пол;</li>
                <li>дата рождения;</li>
                <li>тип документа, удостоверяющего личность;</li>
                <li>данные документа, удостоверяющего личность;</li>
                <li>гражданство;</li>
                <li>адрес фактического места проживания и регистрации по месту жительства и (или) по месту пребывания;</li>
                <li>почтовый и электронный адреса;</li>
                <li>номера телефонов;</li>
                <li>фотографии.</li>
            </ul>
            <p>Я даю согласие на использование персональных данных исключительно в целях информации, а также на хранение данных об этих результатах на электронных носителях.</p>
            <p>Настоящее Согласие предоставляется мной на осуществление действий в отношении моих персональных данных, которые необходимы для достижения указанных выше целей, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу третьим лицам для осуществления действий по обмену информацией, обезличивание, блокирование персональных данных, запись, извлечение, использование, распространение, предоставление, доступ, обезличивание, блокирование, удаление, уничтожение персональных данных, а также осуществление любых иных действий, предусмотренных действующим законодательством Российской Федерации.</p>
            <p>Я проинформирован, что данный ресурс гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.</p>
            <p>Данное согласие действует до достижения целей обработки персональных данных или в течение срока хранения информации. Данное согласие может быть отозвано в любой момент по моему письменному заявлению. Персональные данные субъекта подлежат хранению в течение сроков, установленных законодательством Российской Федерации. Персональные данные уничтожаются: по достижению целей обработки персональных данных; при ликвидации или реорганизации; на основании моего письменного обращения с требованием о прекращении обработки персональных данных.</p>
            <p>Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах.</p>
        </div>
    </div>
</div>
{% endblock %}
