{% extends 'mainapp/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Письмо отправленно на почту</h3>
    </div>
    <div class="card-body text-center">
        <p>Мы отправили вам интсрукцию на почту</p>
    </div>
    <div class="card-footer text-center">
        <p>
            Проверьте папку спам
        </p>
    </div>
</div>
{% endblock %}