{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Восстановление пароля завершено</h3>
        </div>
        <div class="card-body text-center">
            <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
{% endblock %}