{% extends 'mainapp/base.html' %}

{% load static %}

{% block extracss %}<link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center custom_size_section">
        <div>
            <div class="text-center">
                <img src="{% static 'mainapp/images/logo.png' %}" alt="Логотип" class="logo-images">
            </div>
            <div class="text-center mt-4">
                <h3>Востановление пароля</h3>
            </div>
        </div>

        <form class="wrapper--form-auth" method="post">
            <div class="mb-3 text-center">
                {% csrf_token %}
                <p>Введите {{ form.email.label|lower }}</p>
                <p>{{ form.email }}</p>
            </div>
            <input type="submit" class="btn btn-danger custom_btn_auth mt-3" value="Сбросить пароль">

        </form>
    </div>
{% endblock %}