.wrapper--alert-alert {
    position: absolute;
    top: 0 !important;
    min-width: 300px;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
.logo_main {width: 150px; height: 60px;}

.custom_image_user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10em;
}

.cursor-pointer {cursor: pointer;}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.icon_social {width: 2rem;}



/* calendar */
.calendar-container {
  width: 100%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar-header h2 {margin: 0;}

.calendar-table {
  flex-grow: 1;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px 5px;
  border: 1px solid #e0e0e0;
}

.calendar-table th {background: #f8f8f8;}

.calendar-table td {
  cursor: pointer;
  transition: background-color 0.3s;
}
.calendar-table td:hover {background: #e0e0e0;}

.number_day td {min-width: 200px !important;}

.event-list {
  padding: 20px;
  overflow-y: auto;
  max-height: 150px;
}

.event-list h3 {margin-top: 0;}

.has-event {
  background-color: rgb(35, 83, 99);
  color: white;
  font-weight: bold;
}

.event-name {
  font-size: 12px;
  background: #0d6dfd7f;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  /* min-width: 200px !important; */
}

.event-name:hover {background: #0d6dfdbb;}

