.wrapper--alert-alert {
    position: absolute;
    top: 0 !important;
    min-width: 300px;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
.logo_main {width: 150px; height: 60px;}

.custom_image_user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10em;
}

.cursor-pointer {cursor: pointer;}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.icon_social {width: 2rem;}



/* calendar */
.calendar {
  padding: 20px;
  background-color: #f9f9f9;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header h2 {margin: 0;}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}
.calendar-table th {background-color: #f0f0f0;}

.today {background-color: #ffffcc;}

.event-list {margin-top: 20px;}

.event-list li {
  margin-bottom: 10px;
  font-size: 16px;
}